nodeRed.json
[{"id":"ca85c677.b7aea8","type":"mqtt in","z":"2bd647a9.08ccc8","name":"","topic":"/projetoIoT/sensors","qos":"0","datatype":"json","broker":"ac51ee22.c0c2d","x":464,"y":217,"wires":[["55b24ccb.51f414","f2a3a551.ba5eb8","d1c5189c.d929c8","4fc876c5.1b22b8","ea5a22f8.2662b"]]},{"id":"55b24ccb.51f414","type":"change","z":"2bd647a9.08ccc8","name":"Extract Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1].data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":92,"wires":[["b2bd377.a28b5c8"]]},{"id":"b2bd377.a28b5c8","type":"range","z":"2bd647a9.08ccc8","minin":"0","maxin":"1024","minout":"0.0","maxout":"100.0","action":"scale","round":true,"property":"payload","name":"","x":861,"y":91,"wires":[["4fb2c3a5.d5fc8c"]]},{"id":"f2a3a551.ba5eb8","type":"ui_gauge","z":"2bd647a9.08ccc8","name":"","group":"d53490cf.144c9","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.payload[0].data[0]}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":726,"y":223,"wires":[]},{"id":"ea5a22f8.2662b","type":"ui_gauge","z":"2bd647a9.08ccc8","name":"","group":"d53490cf.144c9","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidade do ar","label":"%","format":"{{msg.payload[0].data[1]}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":724,"y":297,"wires":[]},{"id":"4fb2c3a5.d5fc8c","type":"ui_gauge","z":"2bd647a9.08ccc8","name":"","group":"4e02d05d.4758c","order":2,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1054,"y":90,"wires":[]},{"id":"d1c5189c.d929c8","type":"ui_text","z":"2bd647a9.08ccc8","group":"4e02d05d.4758c","order":3,"width":0,"height":0,"name":"","label":"Umidade do solo","format":"{{msg.payload[2].data}}","layout":"row-spread","x":712,"y":410,"wires":[]},{"id":"7db3340a.ac999c","type":"mqtt out","z":"2bd647a9.08ccc8","name":"Bomba","topic":"/projetoIoT","qos":"0","retain":"","broker":"ac51ee22.c0c2d","x":1098,"y":553,"wires":[]},{"id":"6a777436.12e1cc","type":"ui_switch","z":"2bd647a9.08ccc8","name":"","label":"Bomba","tooltip":"","group":"4e02d05d.4758c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/projetoIoT","style":"","onvalue":"{\"bomba\":{\"status\":\"1\"}}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"bomba\":{\"status\":\"0\"}}","offvalueType":"json","officon":"","offcolor":"","x":920,"y":550,"wires":[["7db3340a.ac999c"]]},{"id":"4fc876c5.1b22b8","type":"function","z":"2bd647a9.08ccc8","name":"Lógica da Bomba","func":"temperature = msg.payload[0].data[0] || 0.0;\nair_hum = msg.payload[0].data[1] || 0.0;\nlight = msg.payload[1].data || 0;\nsoil_hum = msg.payload[2].data || \"alta\";\n\nlight = Math.round(light * 100 / 1024);\n\n// if (light > 50 && temperature > 25 && air_hum < 80 && soil_hum === \"baixa\") {\n//     return {topic: \"/projetoIoT\", payload: {\"bomba\":{\"status\":\"1\"}}}\n// }\n// else {\n//     return {topic: \"/projetoIoT\", payload: {\"bomba\":{\"status\":\"0\"}}}\n// }\n\nif (soil_hum == \"baixa\") {\n    return {topic: \"/projetoIoT\", payload: {\"bomba\":{\"status\":\"1\"}}}\n}\nelse if ((air_hum < 30) || (temperature > 35 && light > 90)){\n    return {topic: \"/projetoIoT\", payload: {\"bomba\":{\"status\":\"1\"}}}\n}\nelse {\n    return {topic: \"/projetoIoT\", payload: {\"bomba\":{\"status\":\"0\"}}}\n}","outputs":1,"noerr":0,"x":674,"y":555,"wires":[["6a777436.12e1cc"]]},{"id":"ac51ee22.c0c2d","type":"mqtt-broker","z":"","name":"IoT SAEG","broker":"iotsaeg.nc2.iff.edu.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d53490cf.144c9","type":"ui_group","z":"","name":"DHT","tab":"f4e10d58.18d27","disp":true,"width":"6","collapse":false},{"id":"4e02d05d.4758c","type":"ui_group","z":"","name":"Luz e Solo","tab":"f4e10d58.18d27","disp":true,"width":"6","collapse":false},{"id":"f4e10d58.18d27","type":"ui_tab","z":"","name":"JSON","icon":"dashboard","disabled":false,"hidden":false}]